/.idea/.idea.TestModel/.idea/workspace.xml
/TestModel/bin/Debug/TestModel.pdb
/TestModel/obj/Debug/MainWindow.baml
/TestModel/obj/Debug/MainWindow.g.cs
/TestModel/obj/Debug/MainWindow.g.i.cs
/TestModel/obj/Debug/TestModel.exe
/TestModel/obj/Debug/TestModel.g.resources
/TestModel/obj/Debug/TestModel.pdb
